@font-face 
{
    font-family: 'Aeonik Pro';
    src: url('/fonts/AeonikPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'Voyage';
    src: url("/fonts/Voyage-Regular.otf") format("opentype");
}

body
{
    background-color: #847468;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'Aeonik Pro';
}

.body
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

a
{
    text-decoration: none;
    color: #ffffff;
}

/*Header Section*/
.header-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
}

.logo
{
    font-size: 38px;
    font-family: 'Voyage';
}

ul
{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 32px;
    list-style-type: none;
    font-size: 18px;
}

.header-link
{
    text-decoration: none;
    color: #ffffff;
}

.header-link:hover
{
    color: #b9a393;
}

/*Hero Section*/
.hero-container
{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 52px;
    padding: 25px;
    margin: 125px 0;
}

.hero-image
{
    width: 450px;
    height: 500px;
    border-radius: 10%;
}

.hero-text
{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 500px;
    gap: 8px;
}

.hero-main-text
{
    font-size: 18px;
    padding-bottom: 8px;
}

.hero-title
{
    font-size: 52px;
    font-family: 'Voyage';
}

.hero-button
{
    background-color: #A59182;
    max-width: fit-content;
    padding: 14px;
    border-radius: 20px;
}

.hero-button:hover
{
    background-color: #b9a393;
}

/*Information Section*/
.info-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 52px;
    padding: 25px;
    margin: 125px 0;
}

.info-title
{
    font-size: 42px;
    font-family: 'Voyage';
}

.card-container
{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

/*Quote Section*/
.quote-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    padding: 25px;
    margin: 125px 0;
}

.quote-text
{
    font-size: 42px;
    font-style: italic;
}

.quote-author
{
    font-size: 24px;
}

/*Call To Action Section*/
.action-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    margin: 125px 0;
}

.action-box
{
    max-width: fit-content;
    background-color: #6B5B50;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 25px;
    border-radius: 15px;
}

.action-text
{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.action-title
{
    font-size: 22px;
    font-weight: 700;
}

.action-description
{
    font-family: 'Voyage';
    font-size: 22px;
}

.action-button
{
    background-color: #A59182;
    padding: 14px;
    border-radius: 20px;
    font-size: 16px;
}

.action-button:hover
{
    background-color: #b9a393;
}